.signup-section{
    height:650px;
    width:98vw;
    border:1px solid white;
    margin-top: 70px;
    margin-bottom: 50px;
}

.signup-section .signup-container{
    height: 100%;
    width: 100%;
    text-align: center;
}

.signup-section .signup-container h1{
    font-size: 45px;
    font-weight: 500;
    margin-top: 40px;
}

.signup-section .signup-container h3{
    font-weight: 500;
    color:#9b9b9b;
}

.signup-section .signup-container .signup-upper-div{
    width:100%;
    /* border:2px solid orange; */
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.signup-section .signup-container .signup-upper-div .image-div{
    width:50%;
    height:95%;
    /* border:2px solid black; */
}

.signup-section .signup-container .signup-upper-div .image-div img{
    height:90%;
    width:90%;
    margin-top: 20px;
}

.signup-section .signup-container .signup-upper-div .signup-div{
    width:25%;
    height: 95%;
    /* border:2px solid pink; */
    text-align: center;
    /* background-color: rgba(238,238,238,0.4); */
}

.signup-section .signup-container .signup-upper-div .signup-div h1{
    font-weight: 500;
    font-size: 35px;
    margin-top: 20px;
}

.signup-section .signup-container .signup-upper-div .signup-div button{
    margin-top: 50px;
    width:75%;
    background-color: cornflowerblue;
    color: white;
}